.App {

  width: 1200px;
}


.row2{
  width: 100wv;
  height: 138px;
  border: 2px black solid;
  display: inline-block;
  margin-left: 4px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;

}

.foto{
  width:auto;
  height:130px;

  padding: 2px;


  
}

ul{
list-style: none;
padding-right: 5px;
}
.lang{
  border: solid 2px black;
}
.random{
  border: solid 2px black;
}







